HTML {
  box-sizing: border-box; 
}

*, *:before, *:after {
  box-sizing: inherit; 
}

HTML, BODY {
  padding: 0;
  margin: 0; 
  text-align: center;
  background: steelblue;
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

A {
  font-weight: bold;
  color: palegoldenrod;
  font-size: 1.5rem;
}

DIV#image-holder {
  min-height: 3rem;
  min-width: calc(100vw - 20px);
  position: relative;
  will-change: transform;
}

IMG#image {
  max-width: calc(100vw - 20px);
  display: inline;
  border: 2px solid white;
  opacity: 0;
}

DIV#image-status {
  font-size: 3rem;
  color: black;
  font-weight: bolder;
  position: absolute;
  top: calc(50% - 1.75rem);
  left: 0;
  width: 100%;
}